<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>firstStep</title>
</head>
<body>

<form th:action="@{/auth/register}" th:method="POST" th:object="${user}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">




    <input type="hidden" th:field="*{username}">
    <input type="hidden" th:field="*{email}">
    <input type="hidden" th:field="*{password}">



    <label for="name">Введите ваше имя:</label>
    <input type="text" id="name" th:field="*{name}" required>

    <div th:if="${#fields.hasErrors('name')}" style="color: red">
        <span th:errors="*{name}"></span>
    </div>

    <div th:if="${param.error}" style="color: red">
        <p>Введите корректные данные!</p>
    </div>

    <input type="submit" value="Создать">
</form>

</body>
</html>