<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>posts</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body style="text-align: center">

<h1 style="font-size: 30px">Лента:</h1>

<div style="position: fixed; top: 20px; right: 20px; padding: 10px" class="dropdown">
<!--    <a th:href="@{/{username}(username=${user.getUsername()})}">Мой профиль</a>-->
    <a href="#"><img th:src="@{/images/profile.png}" alt="User" width="40px" height="40px" style="padding: 3px 5px;"
         class="profile-user"></a>
    <div class="dropdown-content">
        <a th:href="@{/myProfile/{id}(id=${user.getId()})}">Мой профиль</a>

    </div>
</div>


</body>
</html>